.gradient-background {
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.gradient-background-otp {
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin: -8px;
  padding-bottom: 10px;
}

.innovation-text-img {
  position: fixed;
  height: 500px;
  transform: translate(5%, 30%);
}

.halonix-text {
  position: fixed;
  transform: translate(-40%, -1400%);
  rotate: 90deg;
}

.one-text {
  position: fixed;
  transform: translate(-10%, -2200%);
  rotate: 90deg;
}

.bulb-img {
  position: absolute;
  height: 350px;
  top: 0%;
  left: 0%;
}

@media screen and (max-width: 768px) {
  .one-text {
    display: none;
  }
  .halonix-text {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .innovation-text-img {
    display: none;
  }
}

@media screen and (max-width: 845px) {
  .bulb-img {
    display: none;
  }
}
