.paddingall {
  padding: 10px 10px 10px 10px;
}

.pricetitle {
  font-weight: 600;
}

.pricesubtitle {
  font-size: 14px;
}

.iconstyle {
  margin-top: 20px;
  margin-left: 20px;
  color: aliceblue;
  display: flex;
  align-items: center;
}
.iconstyleblack {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: #000073;
  background: linear-gradient(158deg, #000073 30%, #000073 60%);
}

.gradientlight {
  background: #000073;
  background: linear-gradient(158deg, #000073 30%, #000073 60%);
}

.bgcolor {
  min-height: 100vh;
  background: #eceff1;
  background: linear-gradient(
    158deg,
    rgb(224, 224, 224) 0% rgb(233, 237, 254) 100%
  );
}

.white {
  color: #faf9f6d8 !important;
}
